<configuration>
    <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    return de.upb.cs.uc4.shared.client.exceptions.UC4NonCriticalException.class.isInstance(throwable);
                </expression>
            </evaluator>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder>
            <pattern>%date{"HH:mm:ss.SSS"} %coloredLevel %logger [%mdc] - %msg%n</pattern>
        </encoder>
    </appender>-->

    <!-- Set logging for the HyperledgerLogger to INFO -->
    <logger name="HyperledgerLogger" level="ERROR" />


    <!-- http://logback.qos.ch/manual/configuration.html for more infos -->
    <!-- LogLevel TRACE, DEBUG, INFO, WARN, ERROR, ALL or OFF-->
    <root level="OFF">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Example -->
    <!--<configuration debug="true">

        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
             encoders are  by default assigned the type
                 ch.qos.logback.classic.encoder.PatternLayoutEncoder
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="debug">
            <appender-ref ref="STDOUT" />
        </root>
    </configuration>-->


</configuration>