name: Code Format Check Pipeline

on:
  # on push event
  push:
    # except for these files
    paths-ignore:
      - '**.md'
      - LICENSE
      - .github/workflows/production_network_test.yml
      - .github/workflows/dev_network_test.yml
      - .github/workflows/no_network_test.yml
      - .github/workflows/publish_to_sonatype.yaml
      - '.github/actions/**'
  # on pull request to protected branches
  pull_request:
    branches: 
      - develop
      - main
    # except for these files
    paths-ignore:
      - '**.md'
      - LICENSE
      - .github/workflows/production_network_test.yml
      - .github/workflows/dev_network_test.yml
      - .github/workflows/no_network_test.yml
      - '.github/actions/**'

jobs:
  check:
    name: Check code format

    runs-on: ubuntu-latest

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Check out source repository
      uses: actions/checkout@v2
        
    # Set up JDK
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    
    # run scalariform test
    - name: Code format check
      run: |
        echo "##########################"
        echo "#    Check Code Style    #"
        echo "##########################"
        wget https://github.com/scala-ide/scalariform/releases/download/0.2.10/scalariform.jar --quiet
        java -jar scalariform.jar --preferenceFile=".scalariform.conf" --test --recurse .
